# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución/empaquetado
dist/
build/
*.egg-info/

# Base de datos SQLite
*.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de ambiente
.env
.env.local

# Archivos de registro
*.log